{:paths ["src"]
 ;; gtkiccup has no release yet, so a commit on GitHub
 :deps {io.github.brdloush/gtkiccup {:git/url "https://github.com/brdloush/gtkiccup"
                                     :git/sha "764cbecd470796d7edaabdec4e9581a2a5416685"}}}
